

html, body {
  margin: 0;
  overflow-x: hidden;
  display: flex;
}

body {
  box-sizing: border-box;
  background-color: rgb(42, 42, 66);
  color: white;
}

.page-div {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: red;
  font-size: 100px;
}

.app-div {
  margin: 3rem 0;
}